/* Ghost.css */

.ghost-container{
    width: 100vw;
    height: calc(100vh - 3em);
    position: fixed;
    z-index: 2;
    overflow-x: hidden;
    
  }
  
  .ghost {
    width: 70px;
    height: 120px;
    background-color: #fff;
    position: absolute;
    border-radius: 50% 50% 0 0;
    transition: all 1s ease-in-out;
    rotate: 10deg;
    opacity: 0;
    scale: 0.7;
    box-shadow: 0px 3px 6px;
    box-shadow: 0 0 8px #ffffff,
        0 0 12px #fff205,
        0 0 16px var(--green),
        0 0 18px var(--lightGreen);
    
  }

  
  .ghost .body {
    height: 40px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .ghost .head {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 25px;
  }
  
  .head .eyes{
    display: flex;
  }
  
  .head .eye {
    width: 10px;
    height: 10px;
    background-color: var(--altDark);
    border-radius: 50%;
  }
  
   .left-eye {
    transform: translateX(-10px);
  }
  
   .right-eye {
    transform: translateX(10px);
  }
  
  .head .mouth {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-10px);
    top: 30px;
  }
  
  .ghost .tail {
    width: 30px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-15px);
    border-radius: 50% 50% 0 0;
    z-index: -1;
  }


.ghost {
    position: absolute;
    opacity: 0;
    transition: opacity 2s, transform 0.5s;
    animation: floatGhost 4s ease-in-out infinite;
  }
  


  @keyframes floatGhost {
    0% {
      transform: translateY(0) rotate(0) scale(1);
     
      
    }
    50% {
      transform: translateY(-20px) rotate(10deg) scale(1.1);
      opacity: .5;
      box-shadow: 0 0 2px #FFFFFF,
        0 0 2px #fff205,
        0 0 4px var(--green),
        0 0 6px var(--lightGreen);
      
    }
    100% {
      transform: translateY(0) rotate(0) scale(1);
     
    }
  }


  