.pumpkin {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 20px;
    z-index: 555;
    rotate: 25deg;
    animation: floatPumpking 3s infinite;
    cursor: pointer;

  }

  .pumpkin-msg {
    position: absolute;
    width: 120px;
    border-radius: 5px;
    background-color: var(--altDark);
    top: -40px;
    z-index: 556;
    padding: .5em 1em;
  }
  
  .stalk {
    border-bottom: 25px solid green;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    height: 0;
    width: 12px;
    position: relative;
    top: 4px;
  }
  
  .segment {
    background-color: rgb(227, 113, 14);
    height: 100px;
    width: 75px;
    border-radius: 50%;
    top: 0;
    border: 1px solid rgb(66, 36, 0);
    box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.25);

  }
  
  .segments {
    display: flex;
    align-items: center;
  }
  
  .centre {
    z-index: 2;
  }
  
  .left-1, .right-1 {
    z-index: 1;
    width: 60px;
    height: 95px;
    margin: 0 -40px;
  }
  
  .left-2, .right-2 {
    z-index: 0;
    width: 50px;
    height: 90px;
  }
  
  .pumpkin .eyes {
    position: relative;
    bottom: 80px;
    display: flex;
    width: 50px;
    justify-content: space-between;
    z-index: 3;
    
  }
  
  .pumpkin .eye-fasullo {
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid black;
    border-top: 0px solid transparent;
    
  }

  .pumpkin .eye {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    
  }

  .pumpkin .eye::after {
    content: '';
    position: absolute;
    background-color: yellow;
    bottom: 3px;
    left: 3px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    animation: rollEyes 3s infinite;
  }

  @keyframes rollEyes {
    0%, 100%{
      left: 3px;
    }

    50%{
      left: 8px;
    }
  }
  
 .pumpkin .mouth {
    width: 85px;
    height: 20px;
    background-color: black;
    position: relative;
    bottom: 65px;
    z-index: 3;
    border-radius: 0 0 25px 25px;
  }
  
  .pumpkin .mouth:before {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 20px solid rgb(227, 113, 14);
    border-bottom: 0px solid transparent;
    position: absolute;
    height: 0px;
    top: -4px;
    width: 0px;
    left: 20px;
    z-index: 5;
    display: block;
  }

  .pumpkin .mouth .right-teeth {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 20px solid rgb(227, 113, 14);
    border-bottom: 0px solid transparent;
    position: absolute;
    height: 0px;
    top: -4px;
    width: 0px;
    right: 20px;
    z-index: 5;
    display: block;
  }
  
  .pumpkin:hover .segment {
    background-color: rgb(222, 111, 15);
    border: 1px solid rgb(66, 36, 0);
    
  }
  
  .pumpkin:hover .eye {
    background-color: yellow;
    box-shadow: 0 0 2px #FFFFFF,
        0 0 5px #fff205,
        0 5 10px #ece44c;
  }

  .pumpkin:hover .eye::after{
    background-color: black;
  }
  
  .pumpkin:hover .stalk {
    border-bottom: 25px solid darkgreen;
  }
  
  .pumpkin:hover .mouth {
    background-color: yellow;
    box-shadow: 0 0 2px #FFFFFF,
        0 0 5px #fff205,
        0 5 10px #ece44c;
  }
  
  .pumpkin:hover .mouth:before {
    border-top: 20px solid rgb(222, 111, 15);
  }


  @keyframes floatPumpking {
    0% {
      transform:  rotate(0);
      
    }
    50% {
      transform:  rotate(-5deg);
     
    }
    100% {
      transform:  rotate(0);
     
    }
  }