.pumpkin {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: 20px;
    z-index: 7;
    scale: .8;
  }
  
  .stalk {
    border-bottom: 30px solid green;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 25px;
    position: relative;
    top: 2px;
  }
  
  .segment {
    background-color: orange;
    height: 200px;
    width: 150px;
    border-radius: 50%;
    top: 0;
    border: 1px solid darkorange;
  }
  
  .segments {
    display: flex;
    align-items: center;
  }
  
  .centre {
    z-index: 2;
  }
  
  .left-1, .right-1 {
    z-index: 1;
    width: 120px;
    height: 190px;
    margin: 0 -80px;
  }
  
  .left-2, .right-2 {
    z-index: 0;
    width: 100px;
    height: 180px;
  }
  
  .pumpkin .eyes {
    position: relative;
    bottom: 160px;
    display: flex;
    width: 140px;
    justify-content: space-between;
    z-index: 3;
  }
  
  .pumpkin .eye {
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid black;
    border-top: 0px solid transparent;
  }
  
 .pumpkin .mouth {
    width: 170px;
    height: 40px;
    background-color: black;
    position: relative;
    bottom: 120px;
    z-index: 3;
    border-radius: 0 0 45px 45px;
  }
  
  .pumpkin .mouth:before {
    content: '';
    background-color: orange;
    position: relative;
    width: 20px;
    height: 20px;
    left: 40px;
    z-index: 3;
    display: block;
  }
  
  .pumpkin:hover .segment {
    background-color: darkorange;
    border: 1px solid orange;
  }
  
  .pumpkin:hover .eye {
    border-bottom: 40px solid yellow;
  }
  
  .pumpkin:hover .stalk {
    border-bottom: 30px solid darkgreen;
  }
  
  .pumpkin:hover .mouth {
    background-color: yellow;
  }
  
  .pumpkin:hover .mouth:before {
    background-color: darkorange;
  }


  @keyframes floatPumpking {
    0% {
      transform: translateY(0) rotate(0);
      
    }
    50% {
      transform: translateY(-20px) rotate(0) scale(1.1);
      opacity: .5;
      box-shadow: 0 0 8px #ffffff,
        0 0 12px #fff205,
        0 0 16px #149330,
        0 0 18px #149330;
    }
    100% {
      transform: translateY(0) rotate(0) scale(1);
     
    }
  }